parameters:
	tmpDir: build/phpstan
	level: 5
	paths:
		- src
		- tests
	bootstrapFiles:
		- vendor/codeigniter4/codeigniter4/system/Test/bootstrap.php
	excludePaths:
		- src/Config/Routes.php
		- src/Views/*
	ignoreErrors:
		- '#Access to protected property CodeIgniter\\Tasks\\TaskLog::\$[A-Za-z]+#'
		- '#Unsafe usage of new static\(\)*#'
	universalObjectCratesClasses:
		- CodeIgniter\Entity
		- CodeIgniter\Entity\Entity
		- Faker\Generator
	scanDirectories:
		- vendor/codeigniter4/codeigniter4/system/Helpers
		- vendor/codeigniter4/settings/src/Helpers
	dynamicConstantNames:
		- APP_NAMESPACE
		- CI_DEBUG
		- ENVIRONMENT
